<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Environmental Awareness Model</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

    <body>
        <header>
            {% include 'header.html' %}
        </header>
        <main>
            <div class="container-fluid welcome-container">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'resources/undraw_environment_iaus.svg' %}" height="500px">
                    </div>
                    <div class="col">
                        <h3>Welcome</h3>
                        <hr>
                        <p>This environmental awareness model project allows users to compare different
                        environmental variables with each other to find interesting correlations or information.
                        Our goal is that we hope users will leave this website having a better understanding and
                        awareness of the variables related to the environment and environmental issues.</p>
                    </div>
                </div>
            </div>

            <section id="section1">
                <span id="root"/>
                <script src="{% static 'index-bundle.js' %}"></script>
            </section>

            <div id="section2" class="container-bg compare-year-container">
                <h4 class="container-headers text-center">Compare Per Country</h4>
                <form action="/compare-per-country/" method="POST" onsubmit="return checkForm(this);">
                    {% csrf_token %}
                    <div class="form-inline justify-content-start">
                        <div class="form-group float-left">
                              <label class="control-label"><strong>Select data 1:</strong></label>
                              <select class="form-control" values="series" id="select1" name="scode1" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="form-group margin-form">
                              <label class="control-label"><strong>Select data 2:</strong></label>
                              <select class="form-control" values="series" id="select2" name="scode2" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="form-group">
                              <label class="control-label"><strong>Country:</strong></label>
                              <select class="form-control" values="series" name="ccode">
                                  {% for code, name in country_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit">
                    </div>
                </form>
                <div class="graph-container">
                    <h5 class="card-header">
                        <button class="toggle-slide" onclick="addressToggle('#insight1')"><i class="fa fa-caret-down"></i></button> Data Insight
                    </h5>
                    <div class="card">
                        <div class="card-body " id="insight1">
                            <p class="card-text">
                                <span>1. Some countries may not have data or just one data point and it will return a nan for the r-value.</span><br>
                                <span>2. Some countries have data but not enough data so keep in mind that the less data there is, the more inaccurate the r-value will be.</span><br>
                                <span>3. Keep in mind that the r-value ranges are between -1 and +1.</span><br>
                                <span>4. The closer the r-value is to -1 or +1, the higher the correlation.</span><br>
                                <span>5. The World country variable is an average of the available data for each environmental variable from around the world.</span>
                            </p>
                        </div>
                    </div>
                    <section class="text-center graph-properties">
                        <h5>{{ country_name }}</h5>
                        <span>{{ series_name1 }}</span><br>
                        <span>{{ series_name2 }}</span><br>
                        <span id="r_value">{{ r_value }}</span>
                    </section>
                    <section class="text-center" id="graph">
                        {{ compare_per_country_graph|safe }}
                    </section>
                </div>
            </div>

            <div id="section3" class="container-bg get-correlations-container">
                <h4 class="container-headers text-center">Get Correlations for Certain Range</h4>
                <form action="/correlation-range/" method="POST" onsubmit="return checkForm(this);">
                    {% csrf_token %}
                    <div class="form-inline justify-content-start">
                        <div class="form-group float-left">
                              <label class="control-label"><strong>Select data 1:</strong></label>
                              <select class="form-control" values="series" id="select1" name="scode1" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="form-group margin-form">
                              <label class="control-label"><strong>Select data 2:</strong></label>
                              <select class="form-control" values="series" id="select2" name="scode2" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label"><strong>Select range:</strong></label>
                            <input class="form-control" name="range" placeholder="r-value between 0 - 1" pattern="^[$^-0]\d*(\.\d+)?$" required>
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit">
                    </div>
                </form>
                <div class="graph-container">
                    <h5 class="card-header">
                        <button class="toggle-slide" onclick="addressToggle('#insight2')"><i class="fa fa-caret-down"></i></button> Data Insight
                    </h5>
                    <div class="card">
                        <div class="card-body" id="insight2">
                            <p class="card-text">
                                <span>1. Select a positive r-value coefficient (r-value ranges are between -1 and +1).</span><br>
                                <span>2. It will choose countries that are greater than the positive of your chosen r-value and lower than the negative of your chosen r-value. </span><br>
                                <span>3. It will return nothing if the range you chose does not have any countries in that range. </span><br>
                                <span>4. Keep in mind that the closer the r-value is to -1 or +1, the higher the correlation.</span><br>
                            </p>
                        </div>
                    </div>
                    <section class="text-center graph-properties">
                        <span>{{ series_name1_range }}</span><br>
                        <span>{{ series_name2_range }}</span><br>
                        <span>{{ r_value_range }}</span><br><br>
                        {% for country, coeff in list_of_correlations %}
                            <span>(<strong>{{ country }}</strong>: {{ coeff }})</span>
                        {% endfor %}
                    </section>
                </div>
            </div>

            <div id="section4" class="container-bg compare-all-years-container">
                <h4 class="container-headers text-center">Compare Correlation for All Years</h4>
                <form action="/compare-years-graph/" method="POST" onsubmit="return checkForm(this);">
                    {% csrf_token %}
                    <div class="form-inline justify-content-start">
                        <div class="form-group float-left">
                              <label class="control-label"><strong>Select data 1:</strong></label>
                              <select class="form-control" values="series" id="select1" name="scode1" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <div class="form-group margin-form">
                              <label class="control-label"><strong>Select data 2:</strong></label>
                              <select class="form-control" values="series" id="select2" name="scode2" required>
                                <option disabled selected>Select Variable</option>
                                  {% for code, name in series_data %}
                                      <option value="{{ code }}">{{ name }}</option>
                                  {% endfor %}
                              </select>
                        </div>
                        <input type="submit" class="btn btn-info" value="Submit">
                    </div>
                </form>
                <div class="graph-container">
                    <h5 class="card-header">
                        <button class="toggle-slide" onclick="addressToggle('#insight3')"><i class="fa fa-caret-down"></i></button> Data Insight
                    </h5>
                    <div class="card">
                        <div class="card-body" id="insight3">
                            <p class="card-text">
                                <span>1. This shows the correlation of variables from all the countries and plotted based on year.</span><br>
                                <span>2. Terrestrial and marine protected areas do not have enough data and will display a empty graph with no line.</span><br>
                                <span>3. Keep in mind that the closer the r-value is to -1 or +1, the higher the correlation.</span><br>
                                <span>4. Most line charts will have a constant or flat line since correlation does not really change over time.</span><br>
                            </p>
                        </div>
                    </div>
                    <section class="text-center graph-properties">
                        <span>{{ series_name1_years }}</span><br>
                        <span>{{ series_name2_years }}</span><br>
                    </section>
                    <section class="text-center" id="graph">
                        {{ compare_correlation_all_years_graph|safe }}
                    </section>
                </div>
            </div>
        <span hidden id="scroll_location">{{ scroll_location }}</span>
        </main>

    </body>
<script src="{% static "/js/scroll.js" %}"></script>
<script>
    $(document).ready();

    function checkForm(form) {
        var scode1 = form.scode1.value
        var scode2 = form.scode2.value

        if(scode1 == scode2) {
            alert("Error: Data 1 can not be equal to Data 2.");
            form.scode1.focus();
            return false;
        }

        if(scode1 == "Select Variable" || scode2 == "Select Variable") {
            alert("Error: Select a variable for both Data 1 and Data 2");
            form.scode1.focus();
            return false;
        }

        return true;
    }

</script>

<script>
    function addressToggle(dataInsight) {
        $(dataInsight).slideToggle('slow');
    }
</script>
</html>