<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Environmental Awareness Model</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

    <body>
        <header>
            {% include 'header.html' %}
        </header>
        <main>
            <div class="container-fluid welcome-container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'resources/undraw_environment_iaus.svg' %}" height="400px" width="500">
                </div>
                <div class="col">
                    <h4>Welcome</h4>
                </div>
            </div>
        </div>
            <span id="root"/>
            <script src="{% static 'index-bundle.js' %}"></script>
        </main>

    </body>

</body>
</html>