<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Environmental Awareness Model</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

    <body>
        <header>
            {% include 'header.html' %}
        </header>
        <main>
            <div class="container-fluid welcome-container">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'resources/undraw_environment_iaus.svg' %}" height="500px">
                    </div>
                    <div class="col">
                        <h3>Welcome</h3>
                        <hr>
                        <p>This environmental awareness model project allows users to compare different
                        environmental variables with each other to find interesting correlations or information.
                        Our goal is that we hope users will leave this website having a better understanding and
                        awareness of the variables related to the environment and environmental issues.</p>
                    </div>
                </div>
            </div>

            <span id="root"/>
            <script src="{% static 'index-bundle.js' %}"></script>

            <div class="container-bg compare-year-container">
            <h4 class="container-headers text-center">Compare Per Year</h4>
            <div class="form-inline justify-content-start">
                <div class="form-group float-left">
                      <label class="control-label"><strong>Select data 1:</strong></label>
                      <select class="form-control" values="series" name="scode1">
                          {% for name, code in series_data1 %}
                              <option value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                      </select>
                </div>
                <div class="form-group">
                      <label class="control-label"><strong>Select data 2:</strong></label>
                      <select class="form-control" values="series" name="scode2">
                          {% for name, code in series_data2 %}
                              <option value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                      </select>
                </div>
                <div class="form-group">
                      <label class="control-label"><strong>Country:</strong></label>
                      <select class="form-control" values="series" name="ccode">
                          {% for name, code in country_data1 %}
                              <option value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                      </select>
                </div>
            </div>
            <div id="graph">
                {{ graph|safe }}
            </div>
        </div>

            <div class="container-bg compare-all-years-container">
            <h4 class="container-headers text-center">Compare All Years</h4>
            <div class="form-inline justify-content-start">
                <div class="form-group float-left">
                      <label class="control-label"><strong>Select data 1:</strong></label>
                      <select class="form-control" values="series" name="scode1">
                          {% for name, code in series_data3 %}
                              <option value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                      </select>
                </div>
                <div class="form-group">
                      <label class="control-label"><strong>Select data 2:</strong></label>
                      <select class="form-control" values="series" name="scode2">
                          {% for name, code in series_data4 %}
                              <option value="{{ code }}">{{ name }}</option>
                          {% endfor %}
                      </select>
                </div>
            </div>
        </div>
        </main>

    </body>

</body>
</html>