.explore-container {
  background-color: white;
  margin: 60px;
  padding: 30px;
  border-radius:.25rem !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);

}

select, input {
  margin: 10px !important;
  padding: 0px;
}

.map {
  margin: auto;
}

h4 {
  padding-bottom: 15px;
}
